[Bb]in/
[Oo]bj/
*.user
*.aps
*.pch
*.vspscc
*.vssscc
_ReSharper*/
*.sln.iml
*.suo
*.cache
*.ilk
*.ipch
*.log
*.ncb
*.opensdf
*.sdf
*.tlog
*.VC.db
*.VC.VC.opendb

Debug/
Release/
x64/
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.exp
*.obj
*.bsc
*.idb
*.ipch